.Filter_orders {
    display: flex;
    padding: 5px;
}

.Filter_orders_inputs {
    display: flex;
    flex-wrap: wrap;
}

.Filter_orders_input {
    margin: 0 auto;
    padding: 3px 5px;
    width: calc(16.66%);
}


.Filter_orders label {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Filter_orders_checkbox {
    height: 1.25rem;
    width: 1.25rem;
}

.Filter_orders_checkbox:checked {
    accent-color: var(--second-color);
}

.Filter_orders_checkbox_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.Filter_orders_button {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.Filter_orders_button_img {
    width: 1.6rem;
    height: 1.6rem;
}
