button {
  background: var(--second-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  outline: 0;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.Header_button {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.Header_button_img {
  width: 1.875rem;
  height: 1.875rem;
}

.Header {
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Header_logo {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
}

.Header_content {
  align-items: center;
  display: flex;
  gap: 10px;
}

.Header_name {
  font-size: 1.5rem;
}

.Header_button_hidden {
  display: none;
}
