.Login_page {
    min-height: 100vh;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login_page p {
    font-size: 1.2rem;
}
