.Form_input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.Form_input_input {
    outline: none;
    background: #eeeeee;
    border: 2px solid #eeeeee;
    padding: 15px;
    font-size: 0.875rem;
    border-radius: 10px;
    transition: 1s;
}

.Form_input_input_red {
    border: 2px solid #e00000;
}